div(class='media' ng-repeat='comment in post.comments')
  div(class='media-left media-top')
    a(href='#/details/{{comment.user}}')
      img(class='media-object', ng-src='http://lorempizza.com/64/64')
  div(class='media-body')
    h4(class='media-heading') 
      a(href='#/details/{{comment.user}}') {{comment.user}} 
      small {{comment.created | date:'medium'}}
    p {{comment.text}}

