ul(class='list-group')
  li(class='list-group-item', ng-repeat='comment in post.comments') 
    a(ng-href='#/details/{{comment.user}}', class='media-heading') {{comment.user}}:
      {{comment.text}}
