div(class='container')
  div(class='row')
    div(class='col-md-6')
      form(name='postForm', role='form')
        div(class='input-group')
          input(type='text', class='form-control', id='description', name='description', placeholder='Write a description...', ng-maxlength='200', ng-model='post.description', required)
          span(class='input-group-btn')
            button(class="btn btn-primary", type='button', ng-click='sendPost()', ng-disabled='image[0] == null || postForm.$invalid') Post
        p
        div(class='input-group')
          span(class='input-group-addon') Tags:
          tags-input(ng-model='tags')
        p 
    div(class='col-md-6')
      div(ngf-drop, ngf-select, ng-model='image', accept='image/*', ngf-multiple='false', ngf-drag-over-class='dragover')
        img(ngf-src='image[0]', ng-show='image[0] != null && !showLoader', class='thumbnail', style='width: 100%;')
        div(class='image-box', ng-show='image[0] == null || showLoader')
          i(class='fa fa-camera-retro fa-5x', ng-show='!showLoader')
          i(class='fa fa-camera-retro fa-5x fa-spin', ng-show='showLoader')
