div(class='container')
  div(class='row')
    div(class='col-md-6')
      form(name='postForm', role='form')
        div(class='input-group')
          input(type='text', class='form-control', id='description', name='description', placeholder='Ilmeeni kun ...', ng-maxlength='200', ng-model='post.description', required)
          span(class='input-group-btn')
            button(class="btn btn-default", type='button', ng-click='sendPost()', ng-disabled='image[0] == null || postForm.$invalid') Post
      form(name='fileForm', role='form')
        div(class='form-group')
          label(for='fileInput') Image
          input(type='file', id='fileInput', ngf-select, ng-model='image', accept='image/*', required)
        div(class="progress")
          div(class="progress-bar", role='progressbar', aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{progress}}%;") {{progress}} %
      button(class="btn btn-default", ng-click='uploadImage()') Upload
      div(ng-include="'views/tagCanvas.html'")
    div(class='col-md-6')
      img(ng-show='image[0] != null', ngf-src='image[0]', style="width: 100%;")
