div(class='item' ng-repeat='post in posts')
  a(ng-click='openModal(post.image.file)')
    img(ng-src="{{post.image.thumbnail}}")
  h4
    a(ng-href='#/details/{{post.username}}', class='media-heading') {{post.username}} 
    small
      p {{post.created | date:'medium'}}
  hr
  p(class='itemtext') {{post.description}}
  p
  a(href="#/posts/{{post.id}}") Details
