div(class='container')
  div(class='row')
    div(class='col-xs-12')
      div.jumbotron
        img(ng-src='{{post.image.file}}', style='width: 100%;')
        p(ng-show='loggedUser().username !== post.username && loggedUser().username !== undefined') {{post.description}}
        input(type='text', ng-model='post.description', ng-show='loggedUser().username === post.username')
  div(class='row')
    div(class='col-xs-12')
      h4 Tags: 
        a(class='btn btn-default', href='#/tags/{{tag}}', ng-repeat='tag in post.tags') {{tag}}
  div(class='row', ng-show='loggedUser().username !== undefined && loggedUser().username === post.username')
    div(class='col-xs-12')    
      div(ng-include="'views/tagCanvas.html'")
  div(class='row', ng-show='loggedUser().username !== undefined && loggedUser().username === post.username')
    div(class='col-xs-12')
      button(class='btn btn-danger', ng-click='removePost()') Remove post
      button(class='btn btn-primary', ng-click='updatePost()') Update post
  div(class='row')
    div(class='col-xs-12')
      h3 Comments:
      div(ng-include="'views/commentList.html'")
  div(class='row')
    div(class='col-xs-12')
      div(ng-include="'views/newComment.html'")
