div(class='container')
  div(class='row')
    div(class='col-md-6')
      div(class='thumbnail')
        img(ng-src='{{post.image.file}}')
        div(class='caption')
          h3 
            a(ng-href='#/details/{{post.username}}') {{post.username}}
            small
              p {{post.created | date:'medium'}}
          hr
          div(class='row')
            div(class='col-xs-10')
              p(ng-show='!showEditBox') {{post.description}}
              div(class='form-group')
                input(type='text', class='form-control', ng-model='post.description', ng-show='showEditBox')
            div(class='col-xs-2')
              button(class='btn btn-primary btn-sm pull-right', ng-model='showEditBox', btn-checkbox, btn-checkbox-true="true", btn-checkbox-false="false", ng-show='loggedUser().username !== undefined && loggedUser().username === post.username')
                i(class='fa fa-pencil-square-o fa-lg')

      p(ng-show='loggedUser().username !== post.username') Tags: 
        a(class='label label-primary', href='#/tags/{{tag.text}}', ng-repeat='tag in post.tags') {{tag.text}}
      div(class='input-group', ng-show='loggedUser().username !== undefined && loggedUser().username === post.username')
        span(class='input-group-addon') Tags:
        tags-input(ng-model='post.tags')
      p
      div(class='row', ng-show='loggedUser().username !== undefined && loggedUser().username === post.username')
        div(class='col-md-12')
          button(class='btn btn-primary', ng-click='updatePost()') Update post
          button(class='btn btn-danger pull-right', ng-click='removePost()') Remove post
    div(class='col-md-6')
      div(class='row')
        div(class='col-md-12')
          h3 Comments:
          div(ng-include="'views/commentList.html'")
      div(class='row')
        div(class='col-md-12')
          p
          div(ng-include="'views/newComment.html'")
