background = #CFCFCF

.newmessage
  padding-top 1em
  padding-bottom 3em
  padding-left 0.5em
  padding-right 0.5em
  margin-bottom 0.5em
  border solid 0.1em background
  border-radius 1em
  background-color background

