@import "mixins"
@import "newmessage"
@import "messageList"
@import "face"
@import "canvas"
@import "spinner"
@import "../../bower_components/bootstrap/dist/css/bootstrap.css"
@import "../../bower_components/fontawesome/css/font-awesome.css"
@import "../../bower_components/ng-tags-input/ng-tags-input.css"
@import "../../bower_components/ng-tags-input/ng-tags-input.bootstrap.css"
@import "image-box"

body
  padding-top: 65px
  margin 0

html
  margin 0
