@import "mixins"
@import "newmessage"
@import "messageList"
@import "face"
@import "canvas"
@import "image-box"
@import "../../bower_components/bootstrap/dist/css/bootstrap.css"

body
  padding-top: 65px
  margin 0

html
  margin 0
